html {
	height: 100%;
	margin: 0px px 75px 0px !important;
}


.ui-button-icon-only {
	width: 2em;
	height: 2em;	
}

.ui-button-icon-only .btnIcon { 
	margin-buttom:2em;
	background: #28965A;
	border-radius: 8px;
	border-color: #27AF74;  
}

.ui-state-default .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default .btnIcon {
	background: #28965A;
	border-radius: 8px;
	border-color: #27AF74; 
}

.btnIcon {
	background: #28965A;
	border-radius: 8px;
	border-color: #27AF74;  
}

.divBtn {
	text-align: center; 
}

.ui-menu {
	background: transparent;
	border: none;
	margin-top: 2.5em;  
}

.ui-menu.ui-menu-toggleable li.ui-widget-header h3 {
	
}

.ui-menu.ui-menu-toggleable li.ui-widget-header .ui-icon {
	left: 1.5em; 
}

li.ui-widget-header {
	background: transparent;
	border: none; 
	color: white; 
	text-decoration: underline;  
}

.ui-menuitem-link .ui-state-hover {
	background: transparent;
	border: none; 
	color: white;
	box-shadow: -1px 3px 13px -3px rgba(171,255,217,1); 
}

.ui-menu .ui-state-hover {
	background: transparent;
	border: none; 
	color: white; 
	box-shadow: -1px 3px 13px -3px rgba(171,255,217,1);
}

.ui-menu .ui-menuitem-text { 
	color: white; 
	float: right;  
}

.ui-widget-header .ui-corner-all {
	text-decoration: underline;  
}

.ui-menu .ui-menu-parent .ui-menu-child {
	background: #004422;
	border: none; 
	width: 100%; 
	padding: 0; 
	color: #27AF74;
}

.ui-menu .ui-menu-parent .ui-menu-child .ui-state-hover{
	background: rgba(31, 115, 74, 0.3); 
	border: none;   
	color: #3a7056;
	box-shadow: none;
	height: 100%; 
}

.ui-menubar .ui-menu-child .ui-menuitem-link {
	width: 100%; 
}

.ueberschneidung{
	background-color: #ffefa1 !important;
	background-image: none !important;
	color: #000000 !important
}
.layout-footer {
	text-align: center; 
	font-size: 77.5%;
	color: white; 
	background-color: #004422;
	position: absolute;
	bottom: 0;
	height: 1.454em;
	padding: 0;
}
body {
	min-height: 100vh;
	position: relative;
    padding-bottom: 3.5em;
}

.btnSpecial {
	background: #27AF74;
	border-radius: 8px;
	border-color: #27AF74;  
	color: white;
	 
}

.btnSpecial:hover {
	background: #27AF74;
	border-radius: 8px;
	border-color: #27AF74;  
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

.btnSpecial .ui-button-text{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-weight: 400; 
	background: #27AF74;
	border-radius: 8px;
	border-color: #27AF74;  
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

.btnNormal {
	background: #525252;
	border-radius: 8px;
	border-color: #525252;  
	color: white;
}

.btnNormal:hover {
	background: #525252;
	border-radius: 8px;
	border-color: #525252;  
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

.divBtn .btnNormal {
	text-align: center; 
}

.btnNormal .ui-button-text { 
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-weight: 400; 
	background: #525252;
	border-radius: 8px;
	border-color: transparent;  
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

.btnNormal .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: none; 
}

.btnTable {
	background: #3a7056;
	border-radius: 8px;
	border-color: #3a7056;  
	color: white;
}

.btnTable:hover {
	background: #3a7056;
	border-radius: 8px;
	border-color: #3a7056;  
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

.divBtn .btnTable {
	text-align: center; 
}

.btnTable .ui-button-text { 
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-weight: 400; 
	background: #3a7056;
	border-radius: 8px;
	border-color: transparent;  
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

.btnTable .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: none; 
}


.userNameBold {
	font-weight: bold
}

.btnHidden {
	visibility: hidden;
}

.ui-growl-item {
	background: #ff0000; 
}
.ui-growl {
	position: absolute;
	right: 37.5%;
	width: 25%; 
}

.ui-growl-message {
	float: left; 
	padding-left: 2.5em;
	width: 85%;  
}

