<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:p="http://primefaces.org/ui">

	<link rel="stylesheet" href="resources/style.css" />

	<f:view>
		<h:form>

			<div class="navbar navbar-expand-lg navbar-fixed-top"
				style="background-color: #004422; margin-bottom: 3.5em;">
				<div class="container">
					<h:panelGrid rendered="#{meineVTeamsController.currentUser!=null}">
					<a class="navbar-brand" href="meineVTeams.xhtml"> <img
						src="resources/img/Urlaubsmanager_LogoTest.png" width="570"
						alt="Urlaubsmanager-Logo" />
					</a>
					</h:panelGrid>
					<h:panelGrid rendered="#{meineVTeamsController.currentUser==null}">
					<img
						src="resources/img/Logo_finaleV.png" width="570"
						alt="Urlaubsmanager-Logo" />
					</h:panelGrid>
					<h:panelGrid
						rendered="#{meineVTeamsController.currentUser==null?false:true}">
						<ul class="navbar nav navbar-right">
							<li><p:menubar toggleable="true" autoDisplay="false">
									<p:submenu label="#{meineVTeamsController.currentUser.vorname} #{meineVTeamsController.currentUser.nachname}">
										<p:menuitem value="Abmelden"
											action="#{userController.abmelden}" />
									</p:submenu>
								</p:menubar></li>
						</ul>
					</h:panelGrid>
				</div>
			</div>

		</h:form>
	</f:view>
</html>
