<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://xmlns.jcp.org/jsf/core">

<title>#{msg.urlaubInsert_title}</title>

	<h:panelGrid columns="3" cellpadding="5">

		<p:outputLabel for="startDatum">#{msg.start_datum}</p:outputLabel>
		<p:datePicker binding="#{startDatumBinding}" id="startDatum" value="#{urlaubController.currentUrlaub.startDatum}"  
		  required="true" monthNavigator="true" pattern="dd.MM.yyyy" placeholder="dd.MM.yyyy">
			<f:convertDateTime pattern="dd.MM.yyyy" timeZone="Europe/Vienna" />
			<f:validator validatorId="datumInZukunftValidator"/>
		</p:datePicker>
		<p:message for="startDatum" />

		<p:outputLabel for="endDatum">#{msg.end_datum}</p:outputLabel>
		<p:datePicker binding="#{endDatumComponent}" id="endDatum" value="#{urlaubController.currentUrlaub.endDatum}" 
			  required="true" monthNavigator="true" pattern="dd.MM.yyyy" placeholder="dd.MM.yyyy">
			<f:attribute name="startDatumComponent" value="#{startDatumBinding}"/>
			<f:convertDateTime pattern="dd.MM.yyyy" timeZone="Europe/Vienna" />
			<f:validator validatorId="datumInZukunftValidator"/>
			<f:validator validatorId="endVorStartValidator"/>
		</p:datePicker>
		<p:message for="endDatum"/>
		
		<p:outputLabel for="kommentar">#{msg.kommentar}</p:outputLabel>
		<p:inputTextarea id="kommentar" value="#{urlaubController.currentUrlaub.kommentar}" maxlength="255" />
		<p:message for="kommentar"/>
		
		
		
	</h:panelGrid>
</html>

