<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

	<title>#{msg.login_titel}</title>
</h:head>

<body>
	<ui:include src="_nav.xhtml" />

	<div class="container">
		<f:view>
			<h:form>
				<h2>#{msg.login_titel}</h2>
				<h:panelGrid columns="3" cellpadding="5">
					<p:outputLabel for="email">
						<h:outputText value="#{msg.login_email}"></h:outputText>
					</p:outputLabel>
					<p:inputText id="email" required="true"
						value="#{userController.currentUser.email}">
						<f:validateRegex
							pattern="[\w\.-]*[a-zA-Z0-9_]@brz.gv.at"></f:validateRegex>
<!-- 							pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]"></f:validateRegex> -->
					</p:inputText>
					<p:message for="email"></p:message>

					<p:outputLabel for="pass" value="#{msg.login_passwort}"></p:outputLabel>
					<p:password id="pass" required="true"
						value="#{userController.currentUser.passwort}" />
					<p:message for="pass"></p:message>
				</h:panelGrid>

				<!-- Login button -->
				<h:panelGrid columns="2" cellpadding="5">
					<p:commandButton styleClass="btnSpecial" value="#{msg.button_login}"
						action="#{userController.login}" ajax="false"></p:commandButton>
					<h:outputText rendered="#{userController.wrongUser}"
						value="#{msg.login_wrong_user}"></h:outputText>

				</h:panelGrid>

			</h:form>


		</f:view>

	</div>
	
	<ui:include src="_footer.xhtml" />

</body>
</html>