<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

<title>#{msg.meineVTeams_titel}</title>
</h:head>

<body>
	<ui:include src="_nav.xhtml"/>
	<div class="container">
		<h1>#{msg.meineTeams}</h1>
		<f:view>
			<h:form>
				<p:dataTable value="#{meineVTeamsController.vTeams}" var="vTeam"
				styleClass="table table-striped table-bordered">

					<p:column headerText="#{msg.meineTeams}">
						#{vTeam.name}
					</p:column>
					
					<div class="divBtn">
						<p:column headerText="#{msg.mvt_kalender}">
							<div class="divBtn">
								<p:commandButton styleClass="btnTable" action="#{meineVTeamsController.showVTeamDetail}" value="#{msg.button_Kalender}" />
							</div>
						</p:column>
					</div>

					<p:column headerText="#{msg.mvt_antragsliste}" rendered="#{meineVTeamsController.berechtigt}">
						<div class="divBtn">
							<p:commandButton styleClass="btnTable" action="#{meineVTeamsController.showurlaubsantraege}"
							value="#{msg.button_zu_antragsliste}"/> 
						</div>
						</p:column>

				</p:dataTable>

				<h:panelGrid columns="2">

					<p:commandButton styleClass="btnSpecial" action="#{meineVTeamsController.showAlleVTeams}"
						value="#{msg.button_zuVTListe}" />
						
				</h:panelGrid>
				

				
			</h:form>
		</f:view>

	</div>

	<ui:include src="_footer.xhtml" />
</body>
</html>