<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="resources/style.css" />
	<title>#{msg.urlaubListe_titel}</title>
</h:head>

<body>
	<ui:include src="_nav.xhtml" />
	<div class="container">
		<h1>#{msg.urlaubListe} - #{urlaubController.currentVTeam.name}</h1>
		<f:view>
			<h:form>
				<p:dataTable value="#{urlaubController.urlaube}" var="u"
					emptyMessage="Keine Urlaube gefunden."
					styleClass="table table-striped table-bordered" scrollable="true"
					scrollHeight="500"
					rowStyleClass="#{urlaubController.urlaubUeberschneidet ? 'ueberschneidung' : null}"
					widgetVar="urlaubTable">

					<p:column headerText="#{msg.urlaubListe_name}">
						<h:outputText
							styleClass="#{urlaubController.userCurrentUser ? 'userNameBold' : null}"
							value="#{u.user.vorname} #{u.user.nachname}" />
					</p:column>

					<p:column headerText="#{msg.urlaubListe_urlaub}">
						<h:outputText value="#{u.startDatum}">
							<f:convertDateTime pattern="dd.MM.yyyy" timeZone="Europe/Vienna" />
						</h:outputText>
						<h:outputText value=" - " />
						<h:outputText value="#{u.endDatum}">
							<f:convertDateTime pattern="dd.MM.yyyy" timeZone="Europe/Vienna" />
						</h:outputText>
					</p:column>

					<p:column headerText="#{msg.urlaubListe_status}">
						<h:outputText value="#{u.status}" />
					</p:column>

					<p:column>
						<f:facet name="header">
							#{msg.urlaubListe_kommentar}
						</f:facet>
						<h:outputText value="#{u.kommentar}" />
					</p:column>

					<p:column>
						<f:facet name="header">#{msg.header_edit}</f:facet>
						<div class="divBtn">
							<p:commandButton
								styleClass="#{urlaubController.userCurrentUserWithStatusOffen ? null : 'btnHidden'} btnIcon"
								action="#{urlaubController.showEdit}" id="edit"
								title="Bearbeiten" icon="fa fa-pencil" />
						</div>
					</p:column>

					<p:column>
						<f:facet name="header">#{msg.header_delete}</f:facet>
						<div class="divBtn">
							<p:commandButton
								styleClass="#{urlaubController.userCurrentUserWithStatusOffen ? null : 'btnHidden'} btnIcon"
								onclick="PF('dlgLoeschen').show();" id="delete1" title="Löschen"
								icon="fa fa-trash" action="#{urlaubController.urlaubForDialog}" />
						</div>
					</p:column>

				</p:dataTable>

				<h:panelGrid columns="2">
					<p:commandButton styleClass="btnSpecial"
						action="#{urlaubController.showInsert}"
						value="#{msg.button_newUrlaub}" />

					<p:commandButton styleClass="btnNormal" action="backToMeineVTeams"
						value="#{msg.button_zuVT}" />
				</h:panelGrid>

				<p:dialog header="Sind Sie sicher?" widgetVar="dlgLoeschen"
					modal="true" closeOnEscape="true" resizable="false">
					<p:commandButton action="#{urlaubController.delete}" id="dlgDelete"
						value="Ja" />
					<p:commandButton onclick="PF('dlgLoeschen').hide();"
						id="dlgLoeschen" value="Nein" />
				</p:dialog>

			</h:form>
		</f:view>
	</div>

	<ui:include src="_footer.xhtml" />

</body>
</html>