<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="resources/style.css" />
	<title>#{msg.urlaubAntraege_titel}</title>
</h:head>

<body>
	<ui:include src="_nav.xhtml" />
	<div class="container">
		<h1>#{msg.urlaubAntraege_head} -
			#{urlaubAntraegeController.currentVTeam.name}</h1>

		<f:view>
			<h:form>

				<h:outputText rendered="#{urlaubAntraegeController.genehmigt}"
					style="color:#1c750c"
					value="#{msg.urlaubAntraege_Urlaub} #{msg.urlaubAntraege_von} #{urlaubAntraegeController.currentUrlaub.user.vorname} #{urlaubAntraegeController.currentUrlaub.user.nachname} #{msg.urlaubAntraege_von} #{urlaubAntraegeController.startDate} #{msg.urlaubAntraege_bis} #{urlaubAntraegeController.endDate} #{msg.urlaubAntraege_genehmigt}"></h:outputText>
				<h:outputText rendered="#{urlaubAntraegeController.abgelehnt}"
					style="color:#ff0026"
					value="#{msg.urlaubAntraege_Urlaub} #{msg.urlaubAntraege_von} #{urlaubAntraegeController.currentUrlaub.user.vorname} #{urlaubAntraegeController.currentUrlaub.user.nachname} #{msg.urlaubAntraege_von} #{urlaubAntraegeController.startDate} #{msg.urlaubAntraege_bis} #{urlaubAntraegeController.endDate} #{msg.urlaubAntraege_abgelehnt}"></h:outputText>

				<p:dataTable value="#{urlaubAntraegeController.urlaube}" var="u"
					styleClass="table table-striped table-bordered"
					emptyMessage="Keine Urlaube gefunden."
					rowStyleClass="#{urlaubAntraegeController.urlaubUeberschneidet ? 'ueberschneidung' : null}">

					<p:column headerText="#{msg.urlaubListe_name}">
						#{u.user.vorname} #{u.user.nachname}
					</p:column>

					<p:column headerText="#{msg.urlaubListe_urlaub}">
						<h:outputText value="#{u.startDatum}">
							<f:convertDateTime pattern="dd.MM.yyyy" timeZone="Europe/Vienna" />
						</h:outputText>
						-
						<h:outputText value="#{u.endDatum}">
							<f:convertDateTime pattern="dd.MM.yyyy" timeZone="Europe/Vienna" />
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							#{msg.urlaubListe_kommentar}
						</f:facet>
						#{u.kommentar}
					</p:column>

					<p:column>
						<f:facet name="header">#{msg.urlaubAntragPM_status}</f:facet>
						<div class="divBtn">
							<p:commandButton class="btn"
								onclick="PF('dlgGenehmigen').show();" id="genehmigen1"
								title="Genehmigen" icon="fa fa-check"
								action="#{urlaubAntraegeController.urlaubFuerDialog}" />


							<p:commandButton class="btn" onclick="PF('dlgAblehnen').show();"
								id="ablehnen1" title="Ablehnen" icon="fa fa-ban"
								action="#{urlaubAntraegeController.urlaubFuerDialog}" />
						</div>

					</p:column>

				</p:dataTable>

				<h:panelGrid columns="1">
					<p:commandButton styleClass="btnNormal" action="cancel" value="Zurück zu meinen Teams" />
				</h:panelGrid>

				<p:dialog header="Sind Sie sicher?" widgetVar="dlgGenehmigen"
					closeOnEscape="true" resizable="false" modal="true">
					<p:commandButton action="#{urlaubAntraegeController.genehmigen}"
						id="dlgGenehmigen" value="Ja" ajax="false" />
					<p:commandButton value="Nein" onclick="dlgGenehmigen.hide()" action="#{urlaubAntraegeController.showUrlaubAntraege}" />
				</p:dialog>

				<p:dialog header="Sind Sie sicher?" widgetVar="dlgAblehnen"
					modal="true" closeOnEscape="true" resizable="false">
					<p:commandButton action="#{urlaubAntraegeController.ablehnen}"
						id="dlgAblehnen" value="Ja" ajax="false" />
					<p:commandButton value="Nein" onclick="dlgAblehnen.hide()" action="#{urlaubAntraegeController.showUrlaubAntraege}" />
				</p:dialog>

			</h:form>
		</f:view>
	</div>

	<ui:include src="_footer.xhtml" />

</body>

</html>