<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	 xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>

<title>#{msg.urlaubInsert_title}</title>
</h:head>
<body>
	<ui:include src="_nav.xhtml" />

	<div class="container">
		<h1>#{msg.urlaubInsert_heading}</h1>
		<f:view>
			<h:form>
				<ui:include src="_urlaubForm.xhtml"></ui:include>

				<h:panelGrid columns="2">
					<p:commandButton styleClass="btnSpecial" action="#{urlaubController.save}" value="#{msg.button_speichern}" ajax="false"/>

					<p:commandButton styleClass="btnNormal" action="cancel" immediate="true" value="#{msg.button_abbrechen}" />

				</h:panelGrid>
			</h:form>

		</f:view>
	</div>
	
	<ui:include src="_footer.xhtml" />

</body>
</html>