<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="resources/style.css" />
	<title>#{msg.vTeamListe_titel}</title>
</h:head>

<body>
	<ui:include src="_nav.xhtml" />
	<div class="container">
		<h1>#{msg.vTeamListe_titel}</h1>
		<f:view>
			<h:form>			
				<p:dataTable value="#{vTeamController.vteams}" var="vteam"
					emptyMessage="Kein virtuelles Team gefunden."
					styleClass="table table-striped table-bordered">

					<p:column filterBy="#{vteam.name}" filterMatchMode="contains">
						<f:facet name="header">
							#{msg.vTeamListe_name}
						</f:facet>
						<h:outputText value="#{vteam.name}" />
					</p:column>

					<p:column>
						<f:facet name="header">
							#{msg.vTeamListe_beitreten}
						</f:facet>
						<div class="divBtn">
						<p:commandButton styleClass="btnTable" action="#{vTeamController.currentVTeamFuerDialog}" 
							id="beitreten"
							value="#{msg.vTeamListe_beitreten}" onclick="PF('dlg').show();"/>
						</div>
					</p:column>
				</p:dataTable>
				<p:commandButton styleClass="btnNormal" action="#{vTeamController.zurueckZuMeineTeams}" id="cancel"
					value="#{msg.button_zurueck}" immediate="true"/>
			
				<p:growl id="growl" showDetail="true" life="2000" ></p:growl>
				<p:dialog id="passwortFalsch" header="#{msg.vTeamListe_passwort}" widgetVar="dlg" resizable="false" modal="true">					
					<h:panelGrid cellpadding="5">
						<p:password id="passwort" placeholder="Passwort eingeben:"
							value="#{vTeamController.eingegebenesPasswort}"/>
					</h:panelGrid>
					<h:panelGrid columns="2" cellpadding="5">
						<p:commandButton update="growl" action="#{vTeamController.beitreten}" title="#{msg.vTeamListe_passwortBeitreten}" />
						<p:commandButton action="#{vTeamController.dialogZurueckButton}" title="#{msg.vTeamListe_passwortAbbrechen}"
							immediate="true" oncomplete="PF('dlg').hide();" ajax="false"/>
					</h:panelGrid>
				</p:dialog>
			</h:form>
		</f:view>

	</div>
	
	<ui:include src="_footer.xhtml" />

</body>
</html>